# Hamoye Data Science Internship (Stage-B)

## Name:- Manoj Kumar M P

## Importing required libraries

In [1]:
# Import required Libraries

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

## Importing data from the url

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(url)

## Viewing DataFrame's Basic information

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [5]:
df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

## 12. From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [6]:
X_train,X_test,y_train,y_test = train_test_split(df[['T2']],df['T6'],train_size = 0.7,test_size = 0.3, random_state= 42)

model_1 = LinearRegression()

model_1.fit(X_train, y_train)

model_1.predict(X_test)

model_1.fit(df[['T2']],df['T6'])

r2_value = model_1.score(df[['T2']],df['T6'])

r2_value.round(2)

0.64

## 13. Normalize the dataset using the MinMaxScaler after removing the following <br> columns: [“date”, “lights”].The target variable is “Appliances”. <br><br> Use a 70-30 train-test set split with a random state of 42 (for reproducibility).<br>Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions: <br><br> What is the Mean Absolute Error (in two decimal places)?

In [7]:
scaled_df = df.drop(['date','lights'], axis = 1)

scaler = MinMaxScaler()

normalize = pd.DataFrame(scaler.fit_transform(scaled_df),columns = scaled_df.columns)

X = normalize.drop('Appliances', axis = 1)
y = normalize['Appliances']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

model_2 = LinearRegression()

model_2.fit(X_train,y_train)

y_pred = model_2.predict(X_test)

mean_absolute_error(y_test,y_pred).round(2)

0.05

## 14. What is the Residual Sum of Squares (in two decimal places)?

In [8]:
np.sum(np.square(y_test - y_pred)).round(2)

45.35

## 15. What is the Root Mean Squared Error (in three decimal places)?

In [9]:
np.sqrt(mean_squared_error(y_test,y_pred)).round(3)

0.088

## 16. What is the Coefficient of Determination (in two decimal places)?

In [10]:
r2_score(y_test,y_pred).round(2)

0.15

## 17. Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [11]:
pd.DataFrame({"Coef":model_2.coef_},X.columns).nsmallest(1,columns="Coef")

             Coef
rv2 -6.347156e+10

In [12]:
pd.DataFrame({"Coef":model_2.coef_},X.columns).nlargest(1,columns="Coef")

             Coef
rv1  6.347156e+10

## 18. Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [13]:
model_3 = Ridge(alpha = 0.4)

model_3.fit(X_train,y_train)

ridge_pred = model_3.predict(X_test)

np.sqrt(mean_squared_error(y_test,ridge_pred)).round(3)

0.088

**No changes in RMSE<br><br>Answer is NO**

## 19. Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [14]:
model_4 = Lasso(alpha = 0.001)

model_4.fit(X_train,y_train)

lasso_pred = model_4.predict(X_test)

(pd.DataFrame(model_4.coef_,X.columns, columns =['Lasso_Coefficient'])['Lasso_Coefficient']!= 0).sum()

4

## 20. What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [15]:
np.sqrt(mean_squared_error(y_test, lasso_pred)).round(3)

0.094